body{
    background-image: url(../images/cenariopokemon.jpeg);
    background-repeat: no-repeat;    
    object-fit: cover;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:15px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
}
.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: black;
    border-radius: 8px;
    position: relative;
}
.lado{
    width:100%;
    height:100%;
    position: absolute;
}
.frente{
    background-color: pink;
}
.atras{
    background: url(../images/verso-carta.jpg);
    background-size: cover;
}